/*
!/home/
/home/*
!/home/worker/
/home/worker/*
!/home/worker/.vimrc
!/home/worker/.bashrc
!/home/worker/.bash_profile
!/home/worker/.zshrc
!/home/worker/.tmux/
/home/worker/.tmux/*
!/home/worker/.tmux/.tmux.conf
!/home/worker/.tmux/tmux-powerline/
/home/worker/.tmux/tmux-powerline/*
!/home/worker/.tmux/tmux-powerline/themes/
/home/worker/.tmux/tmux-powerline/themes/*
!/home/worker/.tmux/tmux-powerline/themes/default.sh
!/usr/
/usr/*
!/usr/share/
/usr/share/*
!/usr/share/vim/
/usr/share/vim/*
!/usr/share/vim/vim82/
/usr/share/vim/vim82/*
!/usr/share/vim/vim82/colors/
/usr/share/vim/vim82/colors/*
!/usr/share/vim/vim82/colors/oceandeep.vim
!.gitignore
