/*
!/home/worker/.vimrc
!/home/worker/.bashrc
!/home/worker/.bash_profile
!/home/worker/.zshrc
!/home/worker/.tmux/.tmux.conf
!/home/worker/.tmux/tmux-powerline/themes/default.sh
!/usr/share/vim/vim82/colors/oceandeep.vim
!.gitignore
